---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div
      class="mb-8 p-6 rounded-lg border bg-gradient-to-b from-indigo-500 from-50% to-blue-400 to-100% text-white"
    >
      <h1 class="text-4xl mb-16">Add Product</h1>

      <from class="flex flex-col w-64">
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" />
        </div>
        <div>
          <label for="price">Price</label>
          <input type="text" id="price" name="price" />
        </div>
        <div>
          <label for="description">Description</label>
          <textarea id="description" name="description"></textarea>
        </div>
        <div>
          <button type="submit">Add Product</button>
        </div>
      </from>
    </div>
  </main>
</Layout>
